body {
  background-color: #f9f9f9;
}
.nav-warpper {
  margin-top: 0 !important;
  //font-family: 'Source Sans Pro',Helvetica,sans-serif;
  font-family: 'Roboto Slab', serif;
  // display: grid;
  // grid-gap: 10px;
  // grid-template-columns: 700px 100px 100px;
  // grid-template-rows: 50px;
  background-color: #fff;
  color: #444;
  margin-bottom: 5% !important;

  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.3);

  .app-title {
    margin: 0 !important;
    font-size: 36px;
    font-weight: bold;
    padding-left: 20%;
  }

  .app-help-wrapper {
    padding-right: 0 !important;
    margin-right: 0 !important;

    button {
      height: 45px;;
    }
  }

  .app-help {
    cursor: pointer;
    text-align: right;
  }

  .app-login-wrapper {
    width: 100px !important;
    margin-left: -45px;

    button {
      height: 45px;;
    }

    .login-link {
      color: white;
    }
  }

  .app-login-wrapper:hover {
    cursor: pointer;
  }

  .app-login {

  }
}
