.nav-warpper {
  font-family: 'Roboto Slab', serif;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 700px 100px 100px;
  grid-template-rows: 50px;
  background-color: #fff;
  color: #444;

  border-bottom: 1px solid #eaeaea;

  .app-title {
    margin: 0 !important;
    font-size: 36px;
    font-weight: bold;
    padding-left: 20%;
  }

  .app-help {
    cursor: pointer;
  }

  .app-login {
    cursor: pointer;
  }

  .app-login:hover {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
  }
}
