.timeout-field-container {
  font-size: 15px !important;
  margin-top: -5% !important;
  margin-left: 10%;

  .unique-id-field {
    padding-left: 7%;
  }

  .form-submit-btn {
    visibility: visible !important;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .loading-panel-content {
    padding-top: 18px;
    margin-left: -99px;
  }

  .search-field-panel {
    margin-left: 21%;
  }

  .search-loading-panel {
    margin-left: 35%;
  }
}
