.form-field-container {
    font-size: 15px !important;
    margin-top: -5% !important;

    .first-name-field {
      width: 65%;
    }

    .disabled-field{
         border-color: #228B22 !important;
    }

    .unique-id-field {
      width: 65%;
    }

    .car-rego-field {
      width: 65%;
    }

    .extra-margin-left {
      margin-left: 21px;
    }

    .reason-for-visit-field {
      float: right;
      width: 83%;

      span {
        margin-left: -76%;
      }
    }

    .reason-field-border {
        border-color: #85B7D9 !important;
    }

    .warning {
      border-color: red !important;
    }

    .form-submit-btn {
      visibility: visible !important;
      position: absolute !important;
      margin-left: 43% !important;
      padding-left: 42px;
      padding-right: 42px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 18px;
    }
}
