.form-field-container {
    font-size: 15px !important;
    margin-top: -5% !important;

    .first-name-field {
      width: 65%;
    }

    .date-field {
         border-color: #e41919;
    }

    .unique-id-field {
      width: 65%;
    }
}
